- @title = 'WendyTum'
.banner
  #slides
    img src="/images/slide-1.jpg"
    img src="/images/slide-2.jpg"
    img src="/images/slide-3.jpg"
    img src="/images/slide-4.jpg"
.content
  .featurette
    .container
      .title 我们正在努力的设计中, 敬请耐心等待！
      / .title 因您而设计，简约而不简单
      / p.lead 时尚是我们的...，简约是我们的...，您是我们服务的对象...
      / hr.half-rule
      / .row
      /   .col-sm-4
      /     img.img-responsive
      /     h4 时尚
      /     p
      /       | In addition to vanilla CSS, Bootstrap includes support for the two most popular CSS preprocessors,
      /       a href="../css/#less"  Less
      /       | and
      /       a href="../css/#sass"  Sass
      /   .col-sm-4
      /     img.img-responsive
      /     h4 简约
      /     p Bootstrap easily and efficiently scales your project with one code base, from phones to tablets to desktops.
      /   .col-sm-4
      /     img.img-responsive
      /     h4 价值
      /     p With Bootstrap, you get extensive and beautiful documentation with hundreds of live examples, code snippets, and more.
