#slides {
  display: none;
  .slidesjs-navigation {
    margin-top: 3px;
  }
  .slidesjs-play, .slidesjs-stop{
    display: none;
  }
  .slidesjs-previous, .slidesjs-next {
    margin-right: 5px;
    float: left;
  }
}

.slidesjs-pagination {
  width: 120px;
  text-align: center;
  margin: 6px auto;
  list-style: none;
  li {
    float: left;
    margin: 0 1px;
    a {
      display: block;
      width: 13px;
      height: 0;
      padding-top: 13px;
      background-image: url(/images/pagination.png);
      background-position: 0 0;
      float: left;
      overflow: hidden;
      &.active {
        background-position: 0 -13px;
      }
      &:hover {
        &.active {
          background-position: 0 -13px;
        }
        background-position: 0 -26px;
      }
    }
  }
}

#slides a {
  &:link, &:visited {
    color: #333333;
  }
  &:hover, &:active {
    color: #9e2020;
  }
}

// .navbar {
//   overflow: hidden;
// }